img{
  height: 320px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 2px;
  border-radius: 3px;
 
}

.octodex {
	
}
* {
	font-family: verdana;
	font-weight: 600;
}

.octocat {
	float: left;
	border-bottom: solid lightgrey;
	margin: 5px;

}

.image-footer::before {
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #aaaeb3 transparent transparent transparent;
	position: absolute;
	right: 0px;
	top: -10px;
}

.image-footer {
	color: grey;
	font-size: 11px;
	margin-top: 5px;
	position:relative;

}
.image-number::before {	
 	content: "#" ; 
 	}

.image-number {
	float: left;
	font-size: 11px;
	color: lightgrey;
}

.image-caption {
	background: lightpurple;
	height: 23px;
	float:right;
	border: none;

}

.authors {
	float: right;


}

.authors img {
	height:21px;
	border: 0px;
	margin: 0px;
	

	
}

ul {
	list-style-type: none;
	padding: 0px;

}

a {
	text-decoration: none;
	color: black;
	

}

